<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: styles}"></th:block>
    <title>Document</title>

</head>

<body>
    <th:block th:replace="~{fragments :: custom-navbar}"></th:block>
    <div class="container">
        <h1>L'elenco delle nostre pizze</h1>

                <th:block th:each="pizza : ${pizzas}" th:object="${pizza}">

                    <div class="card w-25">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{name}"></h5>
                            <p class="card-text">[[*{description}]]</p>
                            <p class="card-text">[[*{price}]]</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </th:block>

</body>
</html>