<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: styles}"></th:block>
    <title>Document</title>

</head>

<body>
    <th:block th:replace="~{fragments :: custom-navbar}"></th:block>
    <div class="container">
        <h1>L'elenco delle nostre pizze</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Prezzo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                    <td th:text="*{name}"></td>
                    <td th:text="*{price}"></td>
                </tr>
            </tbody>
</body>
</html>